h1 {
    color:red;
}

.inputError {
    border-style: solid;
    border-color: red;
}

.inputError:focus {
    border-style: solid;
    border-color: red;
}

/* .tipClicked:focus {
    background-color: lightgrey;
    
}

.tipClicked {
    background-color: lightgrey;
    
} */
